body {
    background-color: rgb(215, 231, 250);
    margin: 1%;
    font-family: Arial, Helvetica, sans-serif;
}
section, section.feb, section.mar {
    border: black 1px solid;
    width: 50%;
    background-color: rgb(255, 253, 219);
    margin-top: 1%;
}

table {
    border-collapse: collapse;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    margin-bottom: auto;
}

caption {
    font-weight: bold;
}

section.ene {
    padding-bottom: 2%;
}

td.ene, th.ene {
    border-bottom: rgb(143, 175, 218) 1px solid;
}


section.feb {
    padding-bottom: 5%;
}

td.feb, th.feb {
    border-right: rgb(143, 175, 218) 1px solid;
    border-left: rgb(143, 175, 218) 1px solid;
    text-align: center;
}
td.feb {
    font-size: 26px;
}
caption.feb {
    text-align: right;
}




section.mar {
    padding-bottom: 10%;
    padding: 10px 1px;
}

td.mar, th.mar {
    border: black 1px solid;
    padding: 15px;
}
caption.mar {
    text-align: left;
    width: 100%;
    letter-spacing: 10pt;
    font-family: Arial, Helvetica, sans-serif;
}










